.game {
  border-collapse: collapse;
  margin: 150px auto;
}
.square {
    max-width:110px;
    min-width: 110px;
    padding-top:110px;
    position: relative;
}

.hidden {
  visibility: hidden;
}

td.middle {
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
}

td.center {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

div.cross {
    width: 100%;
    height: 100%;    
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg); 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.cross:before, div.cross:after {
    background: green;
    content: "";
    position: absolute;
    z-index: -1;
    
  }
  
div.cross:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}
  
div.cross:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
  }

div.circle {
  height: 100%;
  width: 100%;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div.innercircle {
  height:60%;
  width: 60%;
  background-color: white;
  border-radius: 50%;
  margin: 20% 0 0 20%;
  position:absolute;
}

/* The alert message box */
.alert {
  padding:6px;
  color: white;
  position:absolute;
  top:0;
  left:5%;
  width:90%;
  border-radius: 10px;
  display: flex;
}

.message-text {
  margin-left: 20px;
}

.gameover {
  background-color: green;
}

.warning {
  background-color: #ff9800;
}

/* The close button */
.closebtn {
  margin-right: 10px;
  float:right;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}


/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.disabled {
  pointer-events: none;
}

.restart-button {
  position: relative;
  left: 20px;  
  top: 10px;
  height: 30px;
  background-color: darkseagreen;
}

@media only screen 
and (max-device-width : 1000px) {
 .square {
  width:33%;
  padding-top:33%;
  position: relative;
  }

  .circle, .cross {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .row {
    width:100%;
  }

  .game {
    width:100%;
  }

  .page {
    width:100%;
  }

}

